        #triangle_importance {
            text-size: 2.0em;
            color: royalblue;
            font-family: cursive;
        }
        .title {
            text-decoration: underline;
            text-align: center;
            font-family: cursive;
        }
        body {
            background-color: cyan;
            font-family: "Arial", sans-serif;
            font-family: cursive;
        }
        .heading {
            text-decoration: underline;
            font-family: cursive;
            text-align: center;
        }
        #what_do_you_know {
            text-align: inherit;
            font-family: cursive;
            font-family: cursive;
        }
        .image_of_triangles {
            border: dashed;
            height: 120px;
            font-family: cursive;
        }
        .caption {
            font-family: cursive;
            font-size: 16px;
            text-decoration: underline;
            font-family: cursive;
        }
        #important {
            text-align: left;
            font-family: fantasy;
            font-size: 13px;
            font-family: cursive;
        }
        #angles {
            font-size: 1.5em;
            color: lightcoral;
            font-family: cursive;
        }
        .text_label {
            text-decoration: underline;
            font-family: cursive;
            border: lined;
            
        }
